{% extends 'base.html.twig' %}

{#{% block title %}Server Information List{% endblock %}#}

{% block body %}
    <h1>Server Information List application</h1>

    <h2><a href="{{ path('app_server_list') }}">List servers</a></h2>

    <h2><a href="{{ path('app_server_list_upload') }}">Upload data</a></h2>
{% endblock %}
